<launch>
  <node pkg="see3cam" type="uvc_camera_node" name="uvc_camera" output="screen">
    <param name="device" type="string" value="/dev/video1" />
  </node>
 
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="reconfigure">
  </node> 

  <node pkg="image_view" type="image_view" name="image_viewer">
    <remap from="image" to="image_raw"/>
  </node>
</launch>
